if siblingExplorers != undefined
    span(class="dropdown")
        a(href="/")
            img.header-image(src="/img/logo/xec.svg", alt="logo")
            span.navbar-brand #{selectedExplorer.displayName}
        button(class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
        div(class="dropdown-menu")
            each explorer in siblingExplorers
                a(class="dropdown-item" href=`${explorer.url}`)
                    img.header-image(src="/img/logo/xec.svg", alt="logo")
                    span.navbar-brand #{explorer.displayName}
else
    a(href="/")
        img.header-image(src="/img/logo/xec.svg", alt="logo")
        span.navbar-brand #{selectedExplorer.displayName}
